node_modules/
**/node_modules/

venv/
**/venv/

__pycache__/
**/__pycache__/

.idea/
**/.idea/

.vscode/
**/.vscode/

.env
*.pyc
*.log

dist/
**/dist/

build/
**/build/

/package.json
/package-lock.json