# Bỏ qua thư viện
node_modules/
**/node_modules/

# Bỏ qua môi trường Python
venv/
**/venv/
__pycache__/
**/__pycache__/

# Bỏ qua file cấu hình của WebStorm
.idea/
**/.idea/
.vscode/

# Bỏ qua file rác
*.log
*.pyc
dist/
**/dist/

scam-prevention-system/backend/config.json